<h1>Products</h1>

<% @products.each do |product| %>
    <div>
        <%= product.name %>
        <%= product.price %>
        <%= product.description %>
        <% product.product_categories.each do |product_category| %>
            <%= product_category.category.name %>
        <% end %>
    </div>
<% end %>